*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
}

h1{
    margin: 30px 0px;
}

.btn{
    margin: 30px 0px;
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid black;
}

p{
    font-size: 20px;
}
